<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>NewsRelease</display-name>
  <servlet>
    <description>LoginServlet</description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>VerifyCodeServlet</description>
    <display-name>VerifyCodeServlet</display-name>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <servlet-class>com.servlet.VerifyCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>LogoutServlet</description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <description>NewsReleaseServlet</description>
    <display-name>NewsReleaseServlet</display-name>
    <servlet-name>NewsReleaseServlet</servlet-name>
    <servlet-class>com.servlet.NewsReleaseServlet</servlet-class>
  </servlet>
  <servlet>
    <description>NewsServlet</description>
    <display-name>NewsServlet</display-name>
    <servlet-name>NewsServlet</servlet-name>
    <servlet-class>com.servlet.NewsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>NewsDetailServlet</description>
    <display-name>NewsDetailServlet</display-name>
    <servlet-name>NewsDetailServlet</servlet-name>
    <servlet-class>com.servlet.NewsDetailServlet</servlet-class>
  </servlet>
   <servlet>
    <description>NewsListServlet</description>
    <display-name>NewsListServlet</display-name>
    <servlet-name>NewsListServlet</servlet-name>
    <servlet-class>com.servlet.NewsListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>NoticeReleaseServlet</description>
    <display-name>NoticeReleaseServlet</display-name>
    <servlet-name>NoticeReleaseServlet</servlet-name>
    <servlet-class>com.servlet.NoticeReleaseServlet</servlet-class>
  </servlet>
  <servlet>
    <description>MyNoticeServlet</description>
    <display-name>MyNoticeServlet</display-name>
    <servlet-name>MyNoticeServlet</servlet-name>
    <servlet-class>com.servlet.MyNoticeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>NoticeDetailServlet</description>
    <display-name>NoticeDetailServlet</display-name>
    <servlet-name>NoticeDetailServlet</servlet-name>
    <servlet-class>com.servlet.NoticeDetailServlet</servlet-class>
  </servlet>

  <servlet>
    <description>SearchUserServlet</description>
    <display-name>SearchUserServlet</display-name>
    <servlet-name>SearchUserServlet</servlet-name>
    <servlet-class>com.servlet.SearchUserServlet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <url-pattern>/servlet/VerifyCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/servlet/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewsReleaseServlet</servlet-name>
    <url-pattern>/servlet/NewsReleaseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewsServlet</servlet-name>
    <url-pattern>/servlet/NewsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewsDetailServlet</servlet-name>
    <url-pattern>/servlet/NewsDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewsListServlet</servlet-name>
    <url-pattern>/servlet/NewsListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NoticeReleaseServlet</servlet-name>
    <url-pattern>/servlet/NoticeReleaseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MyNoticeServlet</servlet-name>
    <url-pattern>/servlet/MyNoticeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NoticeDetailServlet</servlet-name>
    <url-pattern>/servlet/NoticeDetailServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>SearchUserServlet</servlet-name>
    <url-pattern>/servlet/SearchUserServlet</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/console/*</url-pattern>
  </filter-mapping>
</web-app>
